html {
  height: 100%;
  width: 100%;
}

/*styles rules for the body of webpage */
body{
  background-color: white;
  font-family: Verdana, sans-serif;
  /* Adjust the padding and margins */
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;  
}
body, html {
  overflow-x: hidden;
}

.navbar{
  position:relative;
  z-index: 9999;
}
/* style rules for navbar container*/
.navbar ul{
  list-style: none;
  overflow: hidden;
  position: absolute;
  top:0;
  width:100%;
  margin-bottom: 200px;
  margin-top: 20px;
  display:flex;
  justify-content: center;
}
/* rules for individual list items in navigation bar*/
.navbar ul li{
  float:left;
  margin:10px;
}
/* rules for links in navbar*/
.navbar ul li a{
  display:block;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  text-align: center;
  padding:15px 25px;;
  font-size:20px;
  text-decoration:none;
}
/* rule for hovered link*/
.navbar ul li a:hover{
  font-weight: bold;
}
/*dark mode button*/
#darkmode-button{
  position: absolute;
  margin-top:5px;
}
.dark-mode{
  background-color: black;
  color:white;
}

/* styles for background images and text */
#background{
  position:relative;
  width: 100%;
  height: 100vh;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}
#background img{
  position:absolute;
  height:100%;
  width:100%;
  object-fit:cover;
}
#nametext{
  position:relative;
  color:#1F2C33;
  font-family: 'Brush Script MT', cursive;
  font-size:95px;
  margin-bottom:270px;
  z-index:1;
}
#mountains{
  z-index:2;
}
/*All sections title styles*/
.titles{
  text-align:center;
  margin-top:80px;
  margin-bottom:20px;
  font-family: 'Allura', cursive;
  font-size:33px;
}
/*All buttons styles*/
button-container{
  text-align:center;
}
button{
  background-color:#1F2C33;
  color:white;
  font-size: 20px;
  text-align:center;
  border: 1px solid lightblue;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}
button:hover{
  background-color:lightblue;
  color:black;
  margin-top:5px;
}

/*about section styles*/
#about-container{
  display: flex;
  flex-direction: row;
}
#about-image img {
  margin-left: 40px;
  margin-right:65px;
  margin-bottom: 260px;
  width: 340px;
  height: 390px;
}
#about-text p{
  font-size: 19px;
  line-height: 1.5;
  margin-top: 150px;
  margin-left: 135px;
  margin-right:100px;
}

/*Education section styles*/
#education-container{
  display: flex;
  flex-direction: row;
}
#education-image img{
  margin-left: 95px;
  margin-right:50px;
  margin-top:100px;
  width: 300px;
  height:150px;
}
#education-text{
  margin-left:145px;
  margin-right:40px;
  margin-bottom:80px;
}
#education-text h3{
  font-size:23px;
  margin-top:55px;
}
#education-text p, li {
  line-height: 1.5;
  font-size: 19px; 
}

/*Skills section styles*/
#skills-container{
  display:flex;
  flex-direction: row;
}
#skillsgif img{
  width:350px;
  height:350px;
  margin-left:95px;
  margin-bottom:300px;
}
#skillstext{
  margin-top:55px;
  margin-left:145px;
}
#skillstext li{
  line-height: 1.5;
  font-size:19px;
  margin-right:100px; 
}

/*Project section styles*/
#projects-container{
  display:flex;
  flex-direction: row;
}
#iOSapp img{
  width:200px;
  height:400px;
  margin-top:55px;
  margin-left: 150px; 
  margin-bottom: 200px;
}

/*Contact section style*/
#contact-container{
  display:flex;
  flex-direction: row;
  margin-bottom:100px;
}
#contact-text p{
  margin-top: 110px;
  margin-left: 70px;
  font-size:19px;
}
#form-container {
  margin-left: 250px;
}
#contactform label {
  margin-top: 55px;
  display:block;
  font-size:19px;
}
#contactform input, textarea{
  font-size:18px;
  width:100%;
  margin-top: 5px;
  margin-bottom:20px;
  padding:7px;
  border:1px solid #ccc;
  border-radius:25px;
}
.error{
  border-style: solid;
  border-width:2px;
  border-color: red;
  background:lightcoral;
}

/* thanks modal styles*/
#thanks-modal{
  display:none;
  position:fixed;
  z-index: 2;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.4);
  flex-direction: row;
  align-items:center;
  justify-content:center;
}
#modal-content{
  background-color:white;
  color:black;
  text-align:center;
  font-size:3rem;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  border: 3px solid green;
}
#thanks-modal-content{
  width:20rem;
}
#modaltext-container{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}

/*animation styles*/
.revealable{
  position:relative;
  transform:translateY(150px);
  opacity:0;
  transition:all 2s ease;
}
.revealable.active{
  transform:translateY(0);
  opacity:1;
}

/*styles for footer section*/
footer{
  position:relative;
  bottom:0;
  left:0;
  width:100%;
  background-color:#1F2C33;
  color:white;
  padding:30px 20px;
  text-align:center;
}
#footer-content a i{
  font-size:42px;
  color:lightblue;
  margin:0 10px;
  transition:transform 0.3s ease-in-out;
}
#footer-content a i:hover{
  transform:scale(1.3);
}
