html {
  height: 100%;
  width: 100%;
}

/*styles rules for the body of webpage */
body{
  background-color: white;
  /* Adjust the padding and margins */
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;  
}
body, html {
  overflow-x: hidden;
}

.navbar{
  position:relative;
  z-index: 9999;
}
/* style rules for navbar container*/
.navbar ul{
  list-style: none;
  overflow: hidden;
  position: absolute;
  top:0;
  width:100%;
  margin-bottom: 200px;
  margin-top: 20px;
  display:flex;
  justify-content: center;
}
/* rules for individual list items in navigation bar*/
.navbar ul li{
  float:left;
  margin:10px;
}
/* rules for links in navbar*/
.navbar ul li a{
  display:block;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  text-align: center;
  padding:15px 25px;;
  font-size:20px;
  text-decoration:none;
}
/* rule for hovered link*/
.navbar ul li a:hover{
  font-weight: bold;
}
/*dark mode button*/
#darkmode-button{
  position: absolute;
  margin-top:20px;
}
.dark-mode{
  background-color: black;
  color:white;
}

/* styles for background images and text */
#background{
  position:relative;
  width: 100%;
  height: 100vh;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}
#background img{
  position:absolute;
  height:100%;
  width:100%;
  object-fit:cover;
}
#nametext{
  position:relative;
  color:#1F2C33;
  font-family: 'Brush Script MT', cursive;
  font-size:100px;
  margin-bottom:270px;
  z-index:1;
}
#mountains{
  z-index:2;
}
/*All sections titles styles*/
.titles{
  text-align:center;
  margin-top:90px;
  margin-bottom:20px;
}

/*about section styles*/
#about-container{
  display: flex;
  flex-direction: row;
}
#portrait{
  margin-left: 40px;
  margin-right:65px;
  margin-bottom: 200px;
  width: 350px;
  height: 400px;
}
#about-text{
  
}
#about-text p{
  color:#black;
  font-size: 20px;
  margin-top: 120px;
  margin-left: 135px;
  margin-right:100px;
}

/*Education section styles*/
#degree-container{
  display: flex;
  flex-direction: row;
}
#csueb{
  margin-left: 95px;
  margin-right:50px;
  margin-top:100px;
  margin-bottom: 300px;
  width: 300px;
  height:150px;
}
#education-text{
  margin-left:145px;
  margin-right:40px;
}

/*Skills section styles*/
#skills-container{
  display:flex;
  flex-direction: row;
}
#gif{
  width:350px;
  height:350px;
  margin-left:95px;
  margin-bottom:300px;
}
#skillstext{
  margin-left:145px;
}
